# ==========================================
# 1. OpenPCDet Specific (Crucial)
# ==========================================
# Ignore datasets and heavy training outputs
data/
output/
*.pth
*.log

# Ignore compiled C++/CUDA binaries but KEEP the source code
*.so
*.o
build/
pcdet.egg-info/

# ==========================================
# 2. Python Environments & Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
.eggs/
dist/
.pip_cache/

# Virtual Environments
venv/
env/
.env/
miniconda3/

# ==========================================
# 3. Jupyter Notebooks
# ==========================================
.ipynb_checkpoints/

# ==========================================
# 4. OS & IDE Files
# ==========================================
.idea/
.vscode/
*.swp
.DS_Store